.search{
  text-align: center;
}

.search-field{
  width: 80vw;
  max-width: 500px;
  text-align: center;
  height: 30px;
  font-weight:900;
}

.search-button{
  height: 33px;
  cursor: pointer;
}

.search-results{
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
}

.element{
  display:inline-block;
  background: rgba(255, 255, 255,0.2); 
  margin:10px;
  /* height: 200px; */
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  width: 150px;
  height: 200px;
}

img{
  width: 150px;
  height: 200px;
  cursor: pointer;
}


.welcome{
  color:white;
  margin-left:50px;
}

.loading{
  color:white;
  font-size: 1rem;
  position: absolute;
  width:40vw;
  margin:200px 30vw;
  /* border: black 1px solid; */
  text-align: center;
}

.more{
  display: block;
  margin: 20px auto;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  font-size: 1rem;
}

