.search{
  text-align: center;
}

.search-field{
  width: 80vw;
  max-width: 500px;
  text-align: center;
  height: 30px;
  font-weight:900 ;
}

.search-button{
  height: 33px;
}

.search-results{
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
}

.element{
  display:inline-block;
  background: rgba(255, 255, 255,0.2); 
  margin:10px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.image img{
  width: 150px;
  height: 200px;
}

.info{
  color:white;
  border:1px red solid;
  height: 100px;
  margin-top: 0px;
}

.image,
.info{
  display: inline-block;
}