.main{
  margin: 3rem auto auto auto;
  width: 60vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;  
}


.btn{
  font-size: 1.5rem;
  width: 100%;
  font-weight: 700;
  background-color: rgb(110, 135, 189);
  color:rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 5px;
  height:3rem;
  cursor: pointer;
  margin: 20px 0;

}

.login-signup{
  display:none;
}

@media (max-width:400px){
  .login-signup{
    display:block;
  } 
}







