.main{

}

.btn{
  font-size: 1.5rem;
  width: 100%;
  font-weight: 700;
  background-color: rgb(110, 135, 189);
  color:rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 5px;
  height:3rem;
  cursor: pointer;
  margin: 20px 0;
  
}

.login-signup{
  margin: 3rem auto auto auto;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;  
  
}




.title{
  text-align: center;
  color: white;
  margin-top:0;
  font-size:2rem;
  font-weight:900;
  
}
















