.info{
  
  width:90vw;
  margin:0 5vw;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-ar; */
}

.backdrop{
  width:80%;
  height:40vw;
  margin:0 10% 10px 10%;
  border-radius: 10px;
  flex: 0 0 80%;
}





.infos{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  
}

.title{
  color: rgb(226, 230, 22);
  font-size: 1.5rem;
}

.tagline{
  flex: 0 0 100%;
  text-align: center;
  font-style: italic;
  color: rgb(14, 180, 111);
}

.rating{
  border: black 1px solid;
  margin:30px 0;
  color: white;
  background-color: rgb(0, 23, 54);
  border-radius: 10px;
}

.rating-form{
  text-align: center;
  /* background-color: brown; */
}

#rate{
  height: 20px;
  color: white;
}

.range{
  width: 90%;
  margin: 10px 5%;
  border-radius: 5px;
}

.range::-moz-range-thumb {
  width: 15px;
  height: 30px;
  background: #fa2323;
  cursor: pointer;
}

.save{
  width:30%;
  margin:20px 35%;
  cursor: pointer;
  font-size: 1rem;
}

#rate, .range, .save{
  display: block;
}