.mymovies{
  width: 90%;
  /* border: 1px solid black; */
  margin: 0 5%;
  text-align: center;
}

.element{
  display: inline-block;
  margin: 5px;
  border: 1px black solid;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  width: 150px;
  height: 250px;
  position: relative;
}

.element:hover > .remove{
  visibility: visible;
  
}

.remove{
  visibility: hidden;
  position: absolute;
  right: 0;
  top: -6px;
  height: 25px;
  width: 25px;
  background-color: white;
  color: red;
  border-radius: 50%;
  font-size: 1.1rem;
}

.img{
  width: 150px;
  height: 200px;
}

.nada{
  color: white;
}