.form{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(139, 161, 201);
  margin: 5px;
}
.signup{
  margin:20px auto;
  max-width: 400px;
}

.form input{
  margin:10px;
  height:2.5rem;
  border-radius: 5px;
  outline: none;
  border: grey 1px solid;

}

#signup{
  width:30%;
  font-size: large;
  background-color: rgb(218, 49, 49);
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error{
  color:white;
  text-align: center;
  background-color: red;
  cursor: pointer;
}

#password{
  width: 95%;
  padding-right: 20%;

}

.passwordfield{
  position: relative ;

}

.passwordfield i{
  position: absolute;
  right:5%;
  top:30%;
  cursor:pointer;
}

.info{
  visibility: hidden;
  text-align: center;
}

.valid{
  color: rgb(119, 252, 119);

}

.invalid{
  color: red;
}

.valid::after{
  position: relative;
  content:"✔";
  
}

.invalid::after{
  position: relative;
  content:"✗";
}

.info *{
  margin: -5px;
}

.match{
  text-align: center;
  visibility: hidden;
  color : red;
}

.match{
  padding : 0px;
}

.usernamecheck{
  visibility: hidden;
  text-align: center;
  margin-top: -13px;
}

.login-link{
  text-align: center;
  font-size: small;
  color: white;
}